USE [master]
GO
/****** Object:  Database [EncapsulationDatabase]    Script Date: 14-08-2019 11:09:51 ******/
CREATE DATABASE [EncapsulationDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EncapsulationDatabase', FILENAME = N'C:\Users\mort79f8\EncapsulationDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EncapsulationDatabase_log', FILENAME = N'C:\Users\mort79f8\EncapsulationDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EncapsulationDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EncapsulationDatabase]
GO
USE [EncapsulationDatabase]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 14-08-2019 11:09:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Balance] [money] NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
